        <div class="row row-content">
            <div class="col-xs-12 col-sm-8">
                <h2>Marvel Entertainment</h2>
                <p>Marvel Entertainment, LLC, a wholly-owned subsidiary of The Walt Disney Company, is one of the world's most prominent character-based entertainment companies, built on a proven library of over 8,000 characters featured in a variety of media over seventy years.  Marvel utilizes its character franchises in entertainment, licensing and publishing.</p>
                <div class="well">
                    <blockquote>
                        <p>With great power there must also come ... great responsibility! </p>
                        <footer>Stan Lee,  
                        <cite title="Source Title">Amazing Fantasy, #15, August 1962</cite></footer>
                    </blockquote>                
                </div>

            </div>
            <div class="col-xs-12 col-sm-4">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Corporate Headquarters</h3>
                    </div>
                    <div class="panel-body">
                        <address>Marvel Entertainment, LLC<br/>
                            135 W. 50th Street<br/>
                            New York, NY 10020</address>
                    </div>
                </div>
            </div>
        </div>
    </div>
