<div class="row row-content">
    <div class="page-header">
        <h2><!-- title -->
            <span class="label label-danger">#<!-- issue number --></span>
            <span class="badge">$<!-- first price if it exists --></span>
        </h2>
        <p><!-- description --></p>
    </div>
    <div class="col-xs-4"><!-- repeat over all images -->
        <div class="thumbnail">
            <img>
        </div>
    </div>
</div>
<div class="row row-content">
    <div class="col-xs-4">
        <ul class="list-group">
            <li class="list-group-item list-group-item-success">Character(s) <span class="badge"></span>
            <li class="list-group-item"><!-- character name --></li><!-- repeat over all characters -->
        </ul>
    </div>
    <div class="col-xs-4">
        <ul class="list-group">
            <li class="list-group-item list-group-item-success">Stories(s) <span class="badge"><!-- number of stories --></span>
            <li class="list-group-item"><!-- story name --></li>
        </ul>
    </div>
    <div class="col-xs-4">
        <ul class="list-group">
            <li class="list-group-item list-group-item-success">Creator(s) <span class="badge"><!-- number of creators --></span>
            <li class="list-group-item"><!-- creator role -->: <!-- creator name --></li>
        </ul>
    </div>
</div>