        <div class="row row-content" ng-controller="comicsController">
            <div class="col-xs-12">
                <ul class="media-list tab-pane fade in active">
                    <li class="media" ng-repeat="comic in comics | orderBy: 'title'">
                        <div class="media">
                            <div class="media-left media-middle">
                                <img class="media-object img-thumbnail" ng-src="{{ comic.thumbnail.path }}.{{ comic.thumbnail.extension }}" alt="Comic cover" style="max-width: 300px;">
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading"><a ng-href="#/comic/{{ comic.id }}">{{ comic.title }}</a>
                                    <span class="label label-danger">#{{ comic.issueNumber }}</span>
                                    <span class="badge" ng-if="comic.prices[0].price > 0">${{ comic.prices[0].price }}</span>
                                </h2>
                                <p>{{ comic.description }}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>