        <div class="row row-content" ng-controller="comicsController" ng-repeat="comic in comics | orderBy: 'title'">
            <div class="col-xs-12 col-md-8">
                <div>
                    <h2><a ng-href="#/comic/{{ comic.id }}">{{ comic.title }}</a>
                        <span class="label label-danger">#{{ comic.issueNumber }}</span>
                        <span class="badge" ng-if="comic.prices[0].price > 0">${{ comic.prices[0].price }}</span>
                    </h2>
                </div>
                <div>{{ comic.description }}</div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="col-xs-12">
                    <img class="img-responsive" ng-src="{{ comic.thumbnail.path }}.{{ comic.thumbnail.extension }}" alt="Comic cover" style="max-width: 300px;">
                </div>
            </div>
        </div>