<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Comics library</title>
    <link rel="stylesheet" href="bootstrap.min.css" />
</head>

<body ng-app="comicsApp">
    <div class="container">
        <h1>Comics Library</h1>
        <div class="row row-content" ng-controller="comicsController as comicsCtrl">
            <div class="col-xs-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-class="{active:comicsCtrl.isSelected(0)}">
                        <a role="tab" ng-click="comicsCtrl.select(0)">All</a>
                    </li>
                    <li role="presentation" ng-class="{active:comicsCtrl.isSelected(1)}">
                        <a role="tab" ng-click="comicsCtrl.select(1)">Powers</a>
                    </li>
                    <li role="presentation" ng-class="{active:comicsCtrl.isSelected(2)}">
                        <a role="tab" ng-click="comicsCtrl.select(2)">Chewbacca</a>
                    </li>
                    <li role="presentation" ng-class="{active:comicsCtrl.isSelected(3)}">
                        <a role="tab" ng-click="comicsCtrl.select(3)">Ultimate Spider-Man</a>
                    </li>
                    <li role="presentation" ng-class="{active:comicsCtrl.isSelected(4)}">
                        <a role="tab" ng-click="comicsCtrl.select(4)">Captain Marvel</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <ul class="media-list tab-pane fade in active">
                        <li class="media" ng-repeat="comic in comicsCtrl.comics | filter:comicsCtrl.titleFilter">
                            <div class="media">
                                <div class="media-left media-middle">
                                    <img class="media-object img-thumbnail" ng-src="{{ comic.thumbnail.path }}.{{ comic.thumbnail.extension }}" alt="Comic cover">
                                </div>
                                <div class="media-body">
                                    <h2 class="media-heading">{{ comic.title }}
                                        <span class="label label-danger">#{{ comic.issueNumber }}</span>
                                        <span class="badge" ng-if="comic.prices[0].price > 0">${{ comic.prices[0].price }}</span>
                                    </h2>
                                    <p>{{ comic.description }}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="script/app.js"></script>
</body>
</html>